# Dependencies
node_modules/

# Production and transpile builds
dist/
dist-node/
*.tsbuildinfo

# RunFlux Compiler Build Outputs & Artifacts
output-backends/
compiled/
*.zip

# Environment & OS files
.env
.env.local
.DS_Store
*.log

# Local data of npm run examples:postgres
.runflux/
